.main {
  padding-top: 80px;
  padding-left: 250px;
  padding-bottom: 30px;
  background: rgb(235, 239, 245);
}

.header {
  height: 50px;
  margin: 20px auto;
  width: 95%;
}

.contain {
  margin: 30px 2.5%;
  width: 95%;
  box-shadow: 0px 1px 10px rgba(34, 25, 25, 0.2);
  border-radius: 5px;
  background: white;
  min-width: 1205px;
  margin-bottom: 0px;
  display: inline-block;
  min-height: 575px;
}
