<div class="category">
  <div class="item">
      <img src="./assets/images/category1.jpg"/>
    <div class="item-title">
      <a [routerLink]="['/home/ueditor']">Ueditor + XiuMi</a>
    </div>
    <div class="item-production">
      ng-euditor integrate the xiumi to save weixin article.
    </div>
  </div>

  <div class="item">
    <img src="./assets/images/category1.jpg"/>
    <div class="item-title">
      <a [routerLink]="['/home/angular']">Angular Module</a>
    </div>
    <div class="item-production">
      Angular module (imports & declarations & providers & entryComponents).
    </div>
  </div>

  <div class="item">
    <img src="./assets/images/category1.jpg"/>
    <div class="item-title">
      <a>Angular Module</a>
    </div>
    <div class="item-production">
      Angular module (imports & declarations & providers & entryComponents).
    </div>
  </div>

  <div class="item" style="margin-right: 0px">
    <img src="./assets/images/category1.jpg"/>
    <div class="item-title">
      <a>Angular Module</a>
    </div>
    <div class="item-production">
      Angular module (imports & declarations & providers & entryComponents).
    </div>
  </div>

    <div class="item second-line">
      <img src="./assets/images/category1.jpg"/>
      <div class="item-title">
        <a>Angular Module</a>
      </div>
      <div class="item-production">
        Angular module (imports & declarations & providers & entryComponents).
      </div>
    </div>

    <div class="item second-line">
      <img src="./assets/images/category1.jpg"/>
      <div class="item-title">
        <a>Angular Module</a>
      </div>
      <div class="item-production">
        Angular module (imports & declarations & providers & entryComponents).
      </div>
    </div>

    <div class="item second-line">
      <img src="./assets/images/category1.jpg"/>
      <div class="item-title">
        <a>Angular Module</a>
      </div>
      <div class="item-production">
        Angular module (imports & declarations & providers & entryComponents).
      </div>
    </div>

    <div class="item second-line" style="margin-right: 0px">
      <img src="./assets/images/category1.jpg"/>
      <div class="item-title">
        <a>Angular Module</a>
      </div>
      <div class="item-production">
        Angular module (imports & declarations & providers & entryComponents).
      </div>
    </div>

</div>
