.main {
  height: 100%
}

.category {
  margin: 45px auto 0px ;
  width: 95%;
  overflow: hidden;
  border-top: 0px;
}

.item {
  width: 22%;
  height: 240px;
  border-radius: 5px;
  float: left;
  box-shadow: 0px 1px 10px rgba(34, 25, 25, 0.2);
  border: 2px solid rgb(204, 204, 204);
  margin-right: 4%;
  overflow: hidden;
  margin-bottom: 2%;
}

.item img{
  width: 100%;
  height: 40%;
}

.item-title {
  margin: 20px 20px;
  height: 20px;
  font-family: "Microsoft YaHei";
  font-size: 16px;
  font-weight: bolder;
  cursor: pointer;
}

.item-production {
  margin: 0px 20px;
  font-family: "Microsoft YaHei";
  font-size: 13px;
  color: #93999f;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: deepskyblue;
}

.second-line item{
  margin-bottom: 0px;
}

@media screen and (max-height: 660px) {
  .item-production {
    display: none;
  }

  .item img{
    height: 70%
  }

  .item-title {
    margin: 0px 20px;
  }
}

@media only screen and (max-width: 1280px) {
  .item-production {
    display: none;
  }

  .item img{
    height: 70%
  }

  .item-title {
    margin: 20px 20px;

  }

  .item-title a {
    font-size: 10px;
  }

  .item {
    height: 200px;
  }

  .category {
    margin: 30px auto 0px ;
  }
}
@media only screen and (max-width: 1366px) and (max-height: 768px ) {
  .item img{
    height: 70%
  }

  .item {
    height: 200px;
  }
}


